@{
    ViewBag.Title = "Home";
}

<style>
    main,
    body,
    html,
    .container {
        width: 100% !important;
        max-width: 10000px;
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 65px !important;
    }
</style>

<div class="containerMod container1" style="display: block;">
    <h1 class="head">Audit</h1>
    <h2 class="head">Management</h2>
</div>


<div class="footerLogo containerMod">
    <h5>Audit Management.</h5>
</div>
